<div class="slider">
  		{% load static %}<img class="mySlides w3-animate-right" src="{% static 'myapp/images/a.jpg' %}">
  		{% load static %}<img class="mySlides w3-animate-right" src="{% static 'myapp/images/d.jpg' %}">
  		{% load static %}<img class="mySlides w3-animate-right" src="{% static 'myapp/images/b.jpg' %}">
  		{% load static %}<img class="mySlides w3-animate-right" src="{% static 'myapp/images/c.jpg' %}">
	</div>
	<script>
		var myIndex = 0;
		carousel();

		function carousel() {
    		var i;
    		var x = document.getElementsByClassName("mySlides");
    		for (i = 0; i < x.length; i++) {
      		x[i].style.display = "none";  
    		}
    		myIndex++;
    		if (myIndex > x.length) {myIndex = 1}    
    		x[myIndex-1].style.display = "block";  
    		setTimeout(carousel, 2500);    
		}
	</script>